body, html, input, textarea, select{
    color: #4d4d4d;
    font: 14px "Helvetica Neue",Arial,Helvetica,sans-serif;
    line-height: 18px;
}

body{
    width: 100%;
    overflow-x:scroll; 
    white-space: nowrap;

}

#header{
    width: 100%;
    height: 40px;
    /*background-color: #1e88e5;
    color:rgba(255,255,255,1);*/
    background-color: white;
    color: rgba(0,0,0,0.5);
    line-height: 40px;
    text-align: center;
}

#board_info{

    width: 100%;
    height: 40px;
    color:rgba(0,0,0,0.5);
    line-height: 40px;
    font-size: 20px;
    margin: 10px 0 10px 20px;
}

#board_canvas{

    width: 100%;
    height: 100%;
/*  border:1px solid black;*/
    position: absolute;
    white-space: nowrap;

}

#board_canvas .list_wrapper{

    width: 270px;
    margin: 0 5px;
    height: 100%;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
}

#board_canvas .list_wrapper .list_content{

    background: #e2e4e6;
    border-radius: 3px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    max-height: 100%;
    position: relative;
    white-space: normal;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    white-space: nowrap;
}

.list_header{
    width: 100%;
    display: table;
    padding: 10px 0 0 10px;
    /*font: 14px "Helvetica Neue",Arial,Helvetica,sans-serif;*/
    font:Roboto;
    margin-bottom: 5px;
}

.list_header textarea{
    flex-direction: column;
    resize: none;
    cursor: auto;
    white-space: pre-wrap;
    background: 0 0;
    border: none;
    margin: -3px -5px;
    min-height: 18px;
    padding: 3px 5px;
    width: 100%;
    height: 24px;
    color: #4d4d4d;
    line-height: 18px;
}

.list_wrapper .card_composer{

    border-bottom: 1px solid #ccc;
    cursor: pointer;
    margin-bottom: 6px;
    max-width: 300px;
    min-height: 20px;
    position: relative;
    z-index: 0;
    white-space: normal;
/*    display: none;*/

    }

.list_wrapper .card_composer .add_card_form{
    display: none;
}

.list_wrapper .card_composer .add_card_form a{
    color:rgba(0,0,0,.5);
    margin-top: 5px;
}

.list_wrapper .card_composer .add_card_form a.card_cancel{
   margin-left: 10px;
}


.list_wrapper .card_composer textarea{

    background-color: #fff;
    border-radius: 5px;
    letter-spacing: normal;
    resize: none;
    border:none;
}
.add_card{

    border-radius: 0 0 3px 3px;
    color: #8c8c8c;
    display: block;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding: 8px 10px;
    position: relative;
    text-decoration: none;
    
}


.add_list{

/*  background: rgba(0,0,0,.1);*/
    cursor: pointer;
    width: 270px;
    border-radius: 3px;
    margin: 0 5px;
    color: white;
    display: inline-block;
}

.add_list .add_list_form a{
   color:rgba(0,0,0,.5);
}

.add_list .add_list_form a.cancel{
   margin-left: 10px;
}

.placeholder{
    display: block;
    padding: 7px;
    color: rgba(0,0,0,.5);
    padding: 7px;
}


.list_add_controls{

    display: none;
}

.add_list_form{
    display: none;
}


.add_list form .input-field {

    background: 0 0;
    width: 90%;
    height: 60px;
    border-radius: 5px;
    border-color: transparent;
    box-shadow: none;
    cursor: pointer;
/*    margin-top: 20px;*/
    text-decoration: none;
    padding-left: 5px;

}

.list_cards{

    overflow-y: overlay;
    margin-right: 2px;
    padding: 0 9px 0 5px;
    flex: 1 1 auto;
    margin: 0 4px;
    z-index: 1;
    min-height: 0;
}



.list_card{
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    border-radius: 3px;
    cursor: pointer;
    margin-bottom: 6px;
    max-width: 300px;
    min-height: 20px;
    position: relative;
    z-index: 0;
}

.list_card .list_card_detail{

    overflow: hidden;
    padding: 6px 6px 2px 8px;
    position: relative;
    z-index: 10;
    background: 0 0;
        white-space: normal;
}

.list_card_detail .list_card_title{

    clear: both;
    display: block;
    font-weight: 400;
    margin: 0 0 4px;
    overflow: hidden;
    text-decoration: none;
    word-wrap: break-word;
    color:#4d4d4d;

}

.list_card_detail .list_card_title a{

    background-color: transparent;
}



.modal .modal_header{
    margin: 4px 40px 4px 38px;
    padding: 9pt 9pt 0;
    position: relative;
    z-index: 1;
    display: block;
}

.modal .modal_header h2{
    display: none;
}

.modal .modal_header .modal_title textarea{

    overflow: hidden;
    word-wrap: break-word;
    height: 30px;
    background: 0 0;
    border: 0;
    border-radius: 3px;
    box-shadow: none;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    margin: -4px -6px;
    min-height: 22px;
    padding: 4px 6px;
    resize: none;

}

.modal .modal_main_col{

    float: left;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0;
    min-height: 20px;
    padding: 8px 9pt 9pt;
    position: relative;
    width: 546px;
    z-index: 0;

}

.modal .modal_main_col .card_detail_data{

    margin-left: 38px;
}



